<launch>
    <include file="$(find mocap_optitrack)/launch/mocap_uwbclient.launch">
        <arg name="output" default="log" />
    </include>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <!-- <arg name="address" value="192.168.1.208"> -->
    </include>
</launch>