<launch>
    <include file="$(find mocap_optitrack)/launch/mocap_uwbclient.launch">
        <arg name="output" default="log" />
    </include>
<!--    <node pkg="swarm_station" name="swarm_station" type="swarm_display.py" output="screen">-->
<!--    </node>-->
<!--    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find swarm_station)/models/swarm_station.rviz" />-->
    <node name="swarm_station_joy" pkg="swarm_station" type="swarm_station_joy.py" output="screen" />
    <node pkg="joy" type="joy_node" name="joy" />
</launch>